body{
	background-image: url("https://wallpaperplay.com/walls/full/7/2/9/113769.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 800px;

}

.prompt {
    border: 3px solid red;
    /*text-align: center;*/
    position: fixed;
    bottom: 0px;
    padding: 100px;
    margin-left: 20%;
    margin-right: 20%;
    display: none;
    /*color: white;
    font-weight: bold;
    font-family: 'Yatra One', cursive;*/
    display: block;
    padding: 2% 5% 2% 5%;
}

.event{
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Yatra One', cursive;
    font-size: 150%;
    padding-bottom: 0%;
}

button{
    margin-left: 45%;
    margin: 0% 27% 0% 25%;
    padding: 2% 20% 2% 20%;
    background-color: #4CAF50;
    border: none;
    border-radius: 12px;
    font-family: 'Yeon Sung', cursive;
}