body{
	background-image: url("https://wallpaperplay.com/walls/full/7/2/9/113769.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 800px;
	text-align: center;
}

.prompt {
    text-align: center;
    position: fixed;
    bottom: 0px;
    padding: 100px;
    display: none;
    display: block;
    padding: 300px 0px;
    margin: -255px 500px;
}
.choose{
    text-align: center;
    position: fixed;
    bottom: 0px;
    margin: 200px 600px;
    position: fixed;
}

.event{
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Yatra One', cursive;
    font-size: 150%;
    padding-bottom: 0%;
}

.advance{
    margin-left: 45%;
    margin: 0% 27% 0% 25%;
    padding: 2% 20% 2% 20%;
    background-color: #924C2D;
    border: none;
    border-radius: 12px;
    font-family: 'Yeon Sung', cursive;
}
.startScene {
	margin-top : 40%;
}
.advance:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5);
	text-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
	font-size: 150%;
}
#startScene {
	margin-top: 43%;
}

.option {
    margin-left: 45%;
    margin: 7px 7px;
    padding: 0px 15px;
    background-color: #924C2D;
    border: none;
    border-radius: 12px;
    font-family: 'Yeon Sung', cursive;
    text-align: center;
    padding: 2% 20% 2% 20%;
    border: none;
}
.option:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5);
	text-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
	color: yellow;
	font-size: 120%;
}