body{
	background-image: url("https://wallpaperplay.com/walls/full/7/2/9/113769.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 800px;
	text-align: center;
}

.prompt {
    margin: 0px 130px;
    padding: 0px 394px;
    font-family: 'Yeon Sung', cursive;
    color: white;
    font-size: 150%;
    background-color: rgba(0,0,0,0.6);
    border-radius: 12px;
    position: fixed;
    bottom: 96px;
}
.choose{
    display: flex;
    margin: 0px 130px;
    padding: 0px 394px;
    font-family: 'Yeon Sung', cursive;
    color: white;
    font-size: 150%;
    background-color: rgba(0,0,0,0.6);
    border-radius: 12px;
    position: fixed;
    bottom: 96px;
}

.event{
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Yatra One', cursive;
    font-size: 150%;
    padding-bottom: 0%;
}

.advance{
    border-color: white;
    border-radius: 30px;
    font-family: 'Yeon Sung', cursive;
    background-color: transparent;
    margin: 16px 0px;
    padding: 3px 77px;
    font-size: larger;
    color: white;
}
.startScene {
	margin-top : 40%;
}
.advance:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5);
	text-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
	font-size: 150%;
}
/*#startScene {
	margin-top: 43%;
}*/

.option {
/*    margin-left: 45%;
    margin: 7px 7px;
    padding: 0px 15px;
    background-color: #924C2D;
    border: none;
    border-radius: 12px;
    font-family: 'Yeon Sung', cursive;
    text-align: center;
    padding: 2% 20% 2% 20%;
    border: none;*/
    border-color: white;
    border-radius: 30px;
    font-family: 'Yeon Sung', cursive;
    background-color: transparent;
    margin: 16px 96px;
    padding: 3px 77px;
    font-size: larger;
    color: white;
}
.option:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5);
	text-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
	color: yellow;
	font-size: 120%;
}

.resultcointainer {
    margin: 0px 78px;
    padding: 36px 400px;
    font-family: 'Yeon Sung', cursive;
    color: white;
    font-size: 150%;
    background-color: rgba(0,0,0,0.6);
    border-radius: 12px;
    position: fixed;
    bottom: 96px;
}

.monologe {
    margin: 0px 78px;
    /* padding: 0px 394px; */
    font-family: 'Yeon Sung', cursive;
    color: white;
    font-size: 150%;
    background-color: rgba(0,0,0,0.6);
    border-radius: 12px;
    position: fixed;
    bottom: 96px;
}